/* Small device: up to 576 px */

@media screen and (max-width: 576px){
.center-nav,.right-nav{
    display: none;
}
#bar-icon{
    display: block;
}
.nav-container{
    padding: 16px 20px 0px 20px;
}

.hero-container {
    background: url(../assets/hero-circle.png) center 70px, url(../assets/hero-bg.png) center;
    background-size: 260px, cover;
    background-repeat: no-repeat;
}
.hero-content {
    padding-top: 78px;
}
.hero-content h1 {
    font-size: 2.5rem;
    margin-top: 68px;
}

}