/* Small device: up to 576 px */

@media screen and (max-width: 576px){
.section-padding {
    padding: 0px 20px;
}
.center-nav,.right-nav{
    display: none;
}
#bar-icon{
    display: block;
}
.nav-container{
    padding: 16px 20px 0px 20px;
}

.hero-container {
    background: url(../assets/hero-circle.png) center 89px, url(../assets/hero-bg.png) center 130px;
    background-size: 273px, 566px;
    background-repeat: no-repeat;
}
.hero-content {
    height: 430px;
}
.hero-content h1 {
    font-size: 2.5rem;
    margin-top: 68px;
}
.about-section{
    padding-top: 0px;

}
.about-section>h1 {
    font-size: 2rem;
}
.about-section>p {
    margin-bottom: 40px;
}
.statistics-items {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.statistics-items>.box>h1, .fa-star {
    font-size: 2.5rem;
}
.main-section {
    margin-bottom: 40px;
}
.choose-container {
    padding: 40px 0px;
}
.choose-container>h1 {
    font-size: 2rem;
    margin-bottom: 16px;
}
.choose-feature-card {
    display: grid;
    gap: 16px;
    grid-template-areas:
        "audio-quality"
        "mobile-friendly"
        "global-comm"
        "interview"
        "resource";
}
.choose-feature-card>* {
    padding: 24px;
    border-radius: 24px;
}

.feature-section {
  padding: 40px 0px;
}
.feature-section > h1 {
  font-size: 2rem;
}
.feature-card {
  margin-top: 24px;
  grid-template-columns: repeat(1,1fr);
  gap: 16px;
}
.host-section > h1 {
  font-size: 2rem;
  margin-bottom: 24px;
}
.host-container {
  padding: 24px;
  gap: 24px;
  flex-direction: column;
}
.right-host-content > h1 {
  font-size: 1.25rem;
}
.right-host-content{
    text-align: center;
}
.social-icon {
    justify-content: center;
}
.host-section {
    padding-bottom: 40px;
}
.footer-container {
    padding: 40px;
}
.tech-w {
    font-size: 2rem;
}
.brand {
    flex-wrap: wrap;
    gap: 24px;
    margin: 0px 15px;
}
footer {
    background-size: cover;
}



}