/* font "inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common class  */
body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.section-padding{
    padding: 0px 200px;
}

/* common class  */

/* nav section  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}
.center-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}
.center-nav ul>li>a{
    text-decoration: none;
    color: #FFFFFF;
}
.center-nav ul>li>a:hover{
    color: #FB09B4;
}
.left-nav>h1>span{
    background: linear-gradient(to bottom, #9100F8, #FB09B4,#F7E93F);
      background-clip: text;
      color: transparent;
}
.right-nav>button{
    color: white;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    background-image: linear-gradient(to left,#9100F8,#FB09B4,#F7E93F);
    cursor: pointer;
    font-weight: 500;
}
.right-nav>button:hover{
    background-image: linear-gradient(to right,#9100F8,#FB09B4,#F7E93F);
}
.right-nav>button:hover{
    transform: scale(1.1);
}
#bar-icon{
    display: none;
}
.hr-line{
    border: 1px solid #9100f82e;
}

/* hero section  */
.hero-container{
    background:url("../assets/hero-circle.png") center,
url("../assets/hero-bg.png");
    background-size: 300px, cover;
    background-repeat: no-repeat;
}
.hero-content{
    text-align: center;
    max-width: 550px;
    height: 558px;
    margin: 0px auto;
    position: relative;
    padding-top: 150px;
    position: relative;
}
.tooltip{
    position: absolute;
    display: block;
    color: black;
    text-align: center;
    background-color: #00FF88;
    right: 24%;
    padding: 8px 16px;
    font-size: 1.25;
    font-weight: 400;
    border-radius: 10000px;
    border: none;
    box-shadow: 0px 0px 20px 1px #00ff8896;
}
.hero-content>img{
    padding-top: 35px;
    max-width: 100%;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 120px;
}
.hero-content>.subtitle{
    margin-top: 8px;
    margin-bottom: 24px;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.hero-btn>.left-btn{
    color: white;
    padding: 12px 20px;
    border-radius: 10000px;
    border: none;
    background-image: linear-gradient(to left,#9100F8,#FB09B4,#F7E93F);
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btn>.left-btn:hover{
    transform: scale(1.1);
}
.hero-btn>.right-btn{
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: #00ff8800;
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btn>.right-btn:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to left,#9100F8,#FB09B4,#F7E93F);
    color: white;
    border: none;
}




