/* font "inter" */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common class  */
body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.section-padding{
    padding: 0px 200px;
}
body p{
    opacity: 60%;
}
/* common class  */

/* nav section  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}
.center-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}
.center-nav ul>li>a{
    text-decoration: none;
    color: #FFFFFF;
}
.center-nav ul>li>a:hover{
    color: #FB09B4;
}
.left-nav>h1>span{
    background: linear-gradient(to bottom, #9100F8, #FB09B4,#F7E93F);
      background-clip: text;
      color: transparent;
}
.right-nav>button{
    color: white;
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    background-image: linear-gradient(to left,#9100F8,#FB09B4,#F7E93F);
    cursor: pointer;
    font-weight: 500;
}
.right-nav>button:hover{
    background-image: linear-gradient(to right,#9100F8,#FB09B4,#F7E93F);
}
.right-nav>button:hover{
    transform: scale(1.1);
}
#bar-icon{
    display: none;
}
.hr-line{
    border: 1px solid #9100f82e;
}

/* hero section  */
.hero-container{
    background:url("../assets/hero-circle.png") center 73px,
url("../assets/hero-bg.png") center;
    background-size: 335px, cover;
    background-repeat: no-repeat;
    padding-top: 120px;
}
.hero-content{
    text-align: center;
    max-width: 550px;
    height: 558px;
    margin: 0px auto;
    position: relative;
    /* padding-top: 150px; */
    position: relative;
}
.tooltip{
    position: absolute;
    display: block;
    color: black;
    text-align: center;
    background-color: #00FF88;
    right: 22%;
    top: -4;
    padding: 8px 16px;
    font-size: 1.25;
    font-weight: 400;
    border-radius: 10000px;
    border: none;
    box-shadow: 0px 0px 20px 1px #00ff8896;
}
.hero-content>img{
    padding-top: 35px;
    max-width: 100%;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 120px;
}
.hero-content>.subtitle{
    margin-top: 8px;
    margin-bottom: 24px;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.hero-btn>.left-btn{
    color: white;
    padding: 12px 20px;
    border-radius: 10000px;
    border: none;
    background-image: linear-gradient(to left,#9100F8,#FB09B4,#F7E93F);
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btn>.left-btn:hover{
    transform: scale(1.1);
}
.hero-btn>.right-btn{
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: #00ff8800;
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-btn>.right-btn:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to left,#9100F8,#FB09B4,#F7E93F);
    color: white;
    border: none;
}

/* about section  */
.main-section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}
.about-section>h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 16px;
}
.about-section>p{
    margin-bottom: 80px;
    line-height: 20px;
}
.statistics-items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.statistics-items>.box>h1,.fa-star{
    color: #00FF88;
    font-size: 3rem;
}
.statistics-items>.box>p{
    margin-top: 16px;
    text-transform: uppercase;
}

/* choose section  */
.choose-section{
   background-color: rgba(53, 17, 101, 0.4);
}
.choose-container{
    padding: 120px 0px;
}
.choose-container>h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
}
.choose-feature-card>*{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
.choose-feature-card h3{
    padding: 16px 0px;
    font-size: 24px;
    font-weight: 600;
}
.choose-feature-card p{
    line-height: 24px;
}
.audio-quality{
    grid-area: audio-quality;
}
.mobile-friendly{
    grid-area: mobile-friendly;
}
.global-comm{
    grid-area: global-comm;
}
.interview{
    grid-area: interview;
}
.resource{
    grid-area: resource;
}
.choose-feature-card{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "audio-quality  mobile-friendly mobile-friendly     mobile-friendly     mobile-friendly"
    "audio-quality  global-comm     global-comm     global-comm     global-comm"
    "interview      interview       interview    interview  resource "
    ;
}

.audio-quality{
    display: flex;
    align-items: center;
}

/* feature section  */
.feature-section{
    padding: 120px 0px;
}
.feature-section>h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.feature-card{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
iframe{
    border-radius: 24px 24px 0px 0px;
}
.feature-card-item{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
}
.video-title-des{
    padding: 24px;
}
iframe{
    width: 100%;
    border: none;
}
.video-title-des>h3{
    font-size: 1.25rem;
}
.video-title-des>p{
    margin: 12px 0px;
    line-height: 24px;
}
.video-title-des>.time{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #00FF88;
}

/* host section  */
.host-section{
    padding-bottom: 120px;
}
.host-section>h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.host-container{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.right-host-content>h1{
    font-size: 2rem;
    font-weight: 600;
}
.right-host-content>p{
    margin: 16px 0px;
    line-height: 24px;
}
.social-icon{
    display: flex;
    gap: 8px;
}
.social-icon>img{
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 12px;
    border-radius: 50%;
}

/* footer section  */
footer{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.footer-container{
    text-align: center;
    padding: 120px;
}
.footer-container> h1{
    font-size: 3.75rem;
}
.footer-container> h1 > span {
  background: linear-gradient(to bottom, #9100F8, #FB09B4,#F7E93F);
    background-clip: border-box;
  background-clip: text;
  color: transparent;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 32px 0px;
}
.brand-img{
    display: flex;
    align-items: center;
    gap: 8px;
}
